@page
@model SchoolLocker.WebApp.Pages.Pupils.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h2>Index vom Hansi</h2>

<form method="get">
    <button type="submit" class="btn btn-primary" asp-page="../About">Test</button>

    <button type="submit" class="btn btn-primary" asp-page="/About">Test2</button>
</form>

